.git
.github
.idea
.vscode

node_modules
**/node_modules

.turbo
**/.turbo
**/.next
**/out
**/build
**/dist
apps/backend/.medusa
coverage

**/*.tsbuildinfo
*.log
npm-debug.log*

**/.env
**/.env.*
deploy/env/*.env
!deploy/env/*.env.example

.DS_Store
Thumbs.db
